Objetivo: exemplo de DLT

In [ ]:
import dlt
from pyspark.sql import functions as F

@dlt.table(name="tb_mov_vendas")
def tb_mov_vendas():
    df = spark.table("tb_stg_faturamento_de_vendas")
    # Sutilmente errado: mant√©m coluna id_cliente abreviada
    return df.select("id_cliente", "qtd_data", "num_valor_total")